@model OnlineMarketPlace.Models.CategoriesList

<div class="left-sidebar">
	<!--category-productsr-->
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">
	@for (int i = 0; i < Model.CategoriesParent.Count; i++)
        {
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">

					@if (Model.CategoriesChild[i] == null || !Model.CategoriesChild[i].Any())
					{
							<a href="@Url.Action("ProductsByCategory", "Category", new { categoryId = Model.CategoriesParent[i].Id })">
								@Model.CategoriesParent[i].Name
							</a>
					}else{
							<a data-toggle="collapse" data-parent="#accordian" href="#@i.ToString()">
								<span class="badge pull-right"><i class="fa fa-plus"></i></span>
								@Model.CategoriesParent[i].Name
							</a>
					}
					
				</h4>
			</div>
				
				<div id="@i.ToString()" class="panel-collapse collapse">
					<div class="panel-body">

						<ul>
							@foreach (var child in Model.CategoriesChild[i])
							{
								<li>
									<a href="@Url.Action("ProductsByCategory", "Category", new { categoryId = child.Id })">
										@child.Name
									</a>
								</li>
							}
						</ul>
					</div>
				</div>
				
		</div>
		}
	</div>




	</div>


