<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/category.css" rel="stylesheet">
@model List<OnlineMarketPlace.Models.Product>
@using Microsoft.AspNetCore.Http

<!-- Main Slider Start -->
<div class="home-slider">
    <div class="main-slider">
        <div class="main-slider-item"><img src="~/images/slider-1.jpg" alt="Slider Image" /></div>
        <div class="main-slider-item"><img src="~/images/slider-2.jpg" alt="Slider Image" /></div>
        <div class="main-slider-item"><img src="~/images/slider-3.jpg" alt="Slider Image" /></div>
    </div>
</div>
<!-- Main Slider End -->
<!-- Feature Start-->

<!-- Category Start-->
<style>

</style>
<div class="section-header col-sm-12">
    <h3>Category</h3>
</div>
<div class="mb-4"></div>
@{
    var categoriesL = ViewData["CategoriesList"] as OnlineMarketPlace.Models.CategoriesList;
}
<div class="category-container col-sm-12 row">
    @if(categoriesL == null){
        <H1>error</H1>
    } else{
        @for (int i = 0; i < categoriesL.CategoriesParent.Count; i++)
        {
            <div class="category col-sm-3">

                @if (categoriesL.CategoriesChild[i].Count > 0)
                {
                    <h3>@categoriesL.CategoriesParent[i].Name</h3>
                    <ul class="subcategory">
                        @for (int j = 0; j < categoriesL.CategoriesChild[i].Count; j++)
                        {
                            <li>
                                <a href="@Url.Action("ProductsByCategory", "Category", new { categoryId = categoriesL.CategoriesChild[i][j].Id })">
                                    @categoriesL.CategoriesChild[i][j].Name
                                </a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h3>
                        <a href="@Url.Action("ProductsByCategory", "Category", new { categoryId = categoriesL.CategoriesParent[i].Id })">
                            @categoriesL.CategoriesParent[i].Name
                        </a>
                    </h3>
                }

            </div>
        }
    }

</div>

<!-- Category End-->
<!-- Sale Product Start -->

<div class="section-header">
    <h3>sale Product</h3>
</div>
<div class="container">
    @{
        var saleproducts = ViewData["Discount"] as List<OnlineMarketPlace.Models.Discount>;
    }
    <div class="row align-items-center">
        @if(saleproducts == null || !saleproducts.Any()){
            <h2>sorry! no discount for now</h2>
        } else{
            @foreach (var item in saleproducts)
            {
                <div class="col-lg-3">
                    <div class="product-item">
                        <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Product.Id">
                        <div class="product-image">
                            <a>
                                <img src="~/images/@item.Product.Image" alt="Product Image" class="img-fluid">
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="title"><a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Product.Id">@item.Product.Name> </a></div>
                            
                            @{
                                double dprice = Math.Round(item.Product.Price * (100 + item.Value) / 100,2);
                                    var ratingRepo = new OnlineMarketPlace.Repository.RatingAndReviewRepository();
                                    double? a = await ratingRepo.GetAverageRatingByProductAsync(item.Product.Id);
                            }
                                @if(a == null){
                                    <p>no rating yet</p>
                                } else{
                                    <div class="ratting">
                                        <p>@a?.ToString("0.0")</p>
                                        <i class="fa fa-star"></i>
                                    </div>
                                }
                                
                                <div class="price">@item.Product.Price <span>@dprice</span></div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            }
            
        }
    </div>
            
</div>

<!-- Sale Product End -->

<!-- Recent Product Start -->
<div class="section-header">
	<h3>Recent Product</h3>
</div>
<div class="container">
    @{
        //var userName = Context.Session.GetString("Username");
        int limit = Convert.ToInt32(ViewData["limit"]);
    }
   
    <div class="row align-items-center">
        @foreach (var product in Model.Take(limit))
        {
        <div class="col-lg-3" style="margin-top: 10px;">
                
            <div class="product-item">
                    
                <div class="product-image">                   
                        <img src="~/images/@product.Image" alt="Product Image">
                    <div class="product-action">
                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </div>
                </div>
                <div class="product-content">

                        <div class="title"><a asp-action="Details" asp-controller="Product" asp-route-Id="@product.Id">@product.Name</a></div>
                        @{
                            var ratingRepo = new OnlineMarketPlace.Repository.RatingAndReviewRepository();
                            double? a = await ratingRepo.GetAverageRatingByProductAsync(product.Id);
                        }
                        @if (a == null)
                        {
                            <p>no rating yet</p>
                        }
                        else
                        {
                            <div class="ratting">
                                <p>@a?.ToString("0.0")</p>
                                <i class="fa fa-star"></i>
                            </div>
                        }
                    <div class="price">$@product.Price</div>
                </div>
                    
            </div>               
        </div>
        }
        @if (Model.Count > limit)
        {
            <button type="button" class="btn btn-default get" id="see-more-button" >
                <a asp-controller="Category" asp-action="Index" style="color: white">See More</a>
            </button>
        }
    </div>
</div>

<!-- Recent Product End -->
<!-- shop Start -->
<div class="brand">
    <div class="container">
        <div class="section-header">
            <h3>Our Brands</h3>
        </div>
        <div class="brand-slider">
            <div class="brand-item"><img src="~/images/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="~/images/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="~/images/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="~/images/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="~/images/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="~/images/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- shop End -->