@{

    ViewData["Title"] = "Danh mục sản phẩm";
    var categories = ViewData["CategoriesList"] as OnlineMarketPlace.Models.CategoriesList;
    var products = ViewData["Products"] as List<OnlineMarketPlace.Models.Product>;
    int totalProducts = ViewData["TotalProducts"] is int total ? total : 0;
    int limit = ViewData["Limit"] != null ? Convert.ToInt32(ViewData["Limit"]) : 10;
}
<!-- Product List Start -->
<div class="product-view">
    <div class="container">
        <div class="row">
            <!-- Phần sản phẩm -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="product-search search_box pull-right">
                                    <form asp-controller="Category" asp-action="Search" method="get">
                                        <input type="text" name="searchString" placeholder="Search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                
                            </div>
                            <div class="col-md-4">
                                <div class="product-short">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product short by</a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="@Url.Action("Sort", new { sortBy = "price-asc" })" class="dropdown-item">Price: Low to High</a>
                                            <a href="@Url.Action("Sort", new { sortBy = "price-desc" })" class="dropdown-item">Price: High to Low</a>
                                            <a href="@Url.Action("Sort", new { sortBy = "name-asc" })" class="dropdown-item">Name: A-Z</a>
                                            <a href="@Url.Action("Sort", new { sortBy = "name-desc" })" class="dropdown-item">Name: Z-A</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Danh sách sản phẩm -->
                    <div class="row">
                        @foreach (var product in products)
                        {
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="product-item">
                                    <div class="product-image">
                                        <a href="/Product/Detail/@product.Id">
                                            <img src="img" alt="@product.Name">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="title"><a href="/Product/Detail/@product.Id">@product.Name</a></div>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="price">@product.Price $</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-lg-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })" tabindex="-1">Previous</a>
                                </li>
                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                    </li>
                                }
                                <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Sidebar nằm bên phải -->
            <div class="col-md-3">
                @Html.Partial("_SidebarPartial", categories)
            </div>
        </div>
</div>
<!-- Product List End -->